body{margin:0;padding:0;}
#bg { position: fixed; top: 0; left: 0;z-index:-10; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
.fullpage_bg-text{float:left;width:60%}
.clear-block{display:block;}
.fullpage_bg_form-row{border-bottom: 1px solid #CCCCCC;margin-bottom: 0.75em;}
#wrapper{background:none !important;}
.overlay{
    background: url('overlay.png');
    position: fixed;
    top: 0;
    left: 0;
    z-index:-9;
    width:100%;
    height:100%;
    z-index:-9;
    display:block
}